demo/xmlcms/schema/calendar.xsd

<?xml version="1.0" encoding="utf-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema"><include schemaLocation="post.xsd"/><element name="calendar"><complexType><sequence><element name="year" minOccurs="0" maxOccurs="unbounded"><complexType><sequence><element name="month" minOccurs="0" maxOccurs="12"><complexType><sequence><element name="day" minOccurs="0" maxOccurs="31"><complexType><sequence><element name="post" minOccurs="0" maxOccurs="unbounded"/></sequence><attribute name="day" use="required"><simpleType><restriction base="string"><pattern value="0[1-9]|[12][0-9]|3[01]"/></restriction></simpleType></attribute></complexType></element></sequence><attribute name="year" type="gYear" use="optional"/><attribute name="month" use="required"><simpleType><restriction base="string"><pattern value="0[1-9]|1[0-2]"/></restriction></simpleType></attribute></complexType></element></sequence><attribute name="year" type="gYear" use="required"/></complexType></element></sequence></complexType></element><element name="month"><complexType><sequence><element name="day" minOccurs="0" maxOccurs="31"><complexType><sequence><element name="post" minOccurs="0" maxOccurs="unbounded"/></sequence><attribute name="day" use="required"><simpleType><restriction base="string"><pattern value="0[1-9]|[12][0-9]|3[01]"/></restriction></simpleType></attribute></complexType></element></sequence><attribute name="year" type="gYear" use="optional"/><attribute name="month" use="required"><simpleType><restriction base="string"><pattern value="0[1-9]|1[0-2]"/></restriction></simpleType></attribute></complexType></element></schema>
