demo/xmlcms/schema/post.xsd

<?xml version="1.0" encoding="utf-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema"><element name="post"><complexType><sequence><element name="title"><simpleType><restriction base="string"><maxLength value="30"/></restriction></simpleType></element><element name="datetime"><complexType><attribute name="year" type="gYear" use="required"/><attribute name="month" use="required"><simpleType><restriction base="string"><pattern value="0[1-9]|1[0-2]"/></restriction></simpleType></attribute><attribute name="day" use="required"><simpleType><restriction base="string"><pattern value="0[1-9]|[12][0-9]|3[01]"/></restriction></simpleType></attribute><attribute name="time" type="time" use="required"/></complexType></element><element name="author"><simpleType><restriction base="string"><maxLength value="20"/></restriction></simpleType></element><element name="category"><simpleType><restriction base="string"><maxLength value="10"/></restriction></simpleType></element><element name="tag" type="string" maxOccurs="10" minOccurs="0"/><element name="summary" maxOccurs="1" minOccurs="0"><complexType mixed="true"><sequence><any maxOccurs="unbounded" minOccurs="0"/></sequence></complexType></element><element name="content" maxOccurs="1" minOccurs="0"><complexType mixed="true"><sequence><any maxOccurs="unbounded" minOccurs="0"/></sequence></complexType></element></sequence><attribute name="id" use="required"><simpleType><restriction base="string"><pattern value="[0-9]{14}"/></restriction></simpleType></attribute></complexType></element></schema>
